body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Sans-serif;
    line-height: 1;
}

.container {
    display: flex;
    max-width: 1050px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    padding: 10px;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.item {
    padding: 10px;
}

.md6 {
    width: 60%;
}

.md5 {
    width: 50%;
}

.md4 {
    width: 40%;
}

/*.item .md {*/
/*    width: 50%;*/
/*}*/